//Banner

.section_banner {
    width: 100%;
    height: 167px;
    position: relative;
    .banner_mob {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .banner_desk {
        display: none;
    }

    .container_absolute_information {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        .container_information {
            width: 300px;
            padding-left: 15px;
            padding-top: 21px;
            padding-bottom: 18px;

            .container_title {
                h1 {
                    color: #ffffff;
                    font-family: "Inter", sans-serif;
                    font-size: 13px;
                }
            }
            .container_text {
                margin-top: 9px;
                p {
                    color: #c7c7c7;
                    font-family: "Inter", sans-serif;
                    font-size: 12px;
                    width: 300px;
                }
            }
            .container_button {
                margin-top: 15px;
                button {
                    color: #ffffff;
                    border-radius: 10px;
                    background-color: #ff9d0c;
                    border: none;
                    height: 30px;
                    width: 126px;
                    font-family: "Inter", sans-serif;
                }
                button:hover {
                    cursor: pointer;
                    background-color: #d27e00;
                }
            }
        }
    }
    @media screen and (min-width: 400px) {
        .container_absolute_information {
            padding-left: 10%;
        }
    }

    @media screen and (min-width: 800px) {
        height: 300px;
        .banner_mob {
            display: none;
        }
        .banner_desk {
            display: flex;
            width: 100%;
            height: 300px;
        }
        .container_absolute_information {
            width: 100%;
            height: 100%;
            justify-content: center;
            background-color: rgba($color: #000000, $alpha: 0.25);
            .container_information {
                width: 80%;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                box-sizing: border-box;

                .container_title {
                    h1 {
                        font-weight: 600;
                        font-size: 25px;
                        line-height: 30px;
                        width: 419px;
                    }
                }
                .container_text {
                    p {
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 20px;
                        width: 447px;
                    }
                }
                .container_button {
                    button {
                        width: 160px;
                        height: 40px;
                        background-color: #ff9800;
                    }
                }
            }
        }
    }
}

//Carousel

.section_carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 44px;
    padding-bottom: 44px;
    .container_carousel {
        width: 80%;
        overflow: hidden;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            overflow: scroll;
            white-space: nowrap;
            -ms-overflow-style: none;
            scrollbar-width: none;

            li {
                list-style: none;
                display: flex;
                align-items: center;
                font-family: "Inter", sans-serif;
                color: #828282;
                margin-right: 20px;
                
                .container_icon {
                    width: 50px;
                    height: 50px;
                    background-color: #d9d9d9;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                }
                p {
                    width: 115px;
                }
            }
        }
        ul::-webkit-scrollbar {
            display: none;
        }
    }
    .dragging {
        cursor: grab;
        user-select: none;
    }
}
