@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    .section_discord_terms {
        background-color: #ff9800;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;

        .container_discod_term {
            display: none;
        }

        @media screen and (min-width: 600px) {
            .container_discod_term {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 80%;
            }
            .container_discord {
                display: flex;
                height: 15.45px;
            }
            .container_discord:hover {
                cursor: pointer;
            }
            .container_terms {
                display: flex;
                height: 19px;
            }
            .container_terms {
                cursor: pointer;
            }
            img {
                margin-right: 11px;
            }
            p {
                color: white;
                font-size: 14px;
                line-height: 16.94px;
                font-family: "Inter", sans-serif;
                font-weight: 400;
            }
        }
    }

    nav {
        background-color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 68px;

        .container_nav_mob {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .menu_hamburguer {
            margin-right: 20px;
        }
        .menu_hamburguer:hover {
            cursor: pointer;
        }

        .container_nav_desk {
            display: none;
        }

        @media screen and (min-width: 650px) {
            height: 95px;
            .container_nav_mob {
                display: none;
            }
            .menu_hamburguer {
                display: none;
            }

            .container_nav_desk {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .container_logo {
                    .menu_hamburguer_tablet {
                        height: 25px;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }

                ul {
                    display: flex;
                    margin-bottom: 0;
                    #dropdown:hover .dropdown {
                        display: block;
                    }

                    li {
                        color: #828282;
                        font-size: 16px;
                        line-height: 26.94px;
                        font-family: "Inter", sans-serif;
                        font-weight: 400;
                        margin-right: 15px;
                        list-style: none;
                        
                        .dropdown {
                            display: block;
                        }
                        .dropdown {
                            display: none;
                            position: absolute;
                            background-color: #ff9800;
                            border-radius: 0px 15px 15px 15px;
                            width: 235px;
                            padding-top: 18px;
                            padding-bottom: 21px;
                            margin-top: 3px;
                            z-index: 3;
                            box-shadow: 0px 4px 4px 0px #00000026;

                            ul {
                                display: flex;
                                flex-direction: column;
                                li {
                                    font-family: "Inter", sans-serif;
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 18px;
                                    margin-bottom: 16px;
                                    color: white;
                                }
                                li:hover {
                                    color: black;
                                    border-bottom: black;
                                    background-color: #e98d03;
                                }
                            }
                        }
                    }
                    li:hover {
                        cursor: pointer;
                        color: #ff9800;
                    }
                }
                .container_register_my_accont {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    p {
                        color: #ff9800;
                        font-size: 14px;
                        line-height: 16.94px;
                        font-family: "Inter", sans-serif;
                        font-weight: 400;
                        margin-right: 15px;
                        margin-bottom: 0;
                        cursor: pointer;
                    }
                    p:hover {
                        color: #d27e00;
                    }
                    .container_button {
                        width: 160px;
                        height: 40px;
                        background-color: #ff9800;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 16px;
                            height: 16px;
                            margin-right: 9px;
                        }
                        p {
                            color: white;
                            font-size: 14px;
                            line-height: 16.94px;
                            font-family: "Inter", sans-serif;
                            font-weight: 400;
                        }
                    }
                    .container_button:hover {
                        background-color: #d27e00;
                        cursor: pointer;
                    }
                }

                @media screen and (max-width: 1100px) {
                    ul {
                        display: none;

                        li {
                            display: none;
                        }
                    }
                }
                @media screen and (min-width: 1100px) {
                    .menu_hamburguer_tablet {
                        display: none;
                    }
                }
                @media screen and (min-width: 1200px) {
                    li {
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.content {
    width: 100%;
}

footer {
    background-color: #f9f3eb;
    width: 100%;
    display: flex;
    justify-content: center;

    .container_itens_footer {
        width: 80%;
    }
    .container_footer_top {
        display: flex;
        flex-direction: column;
    }
    .container_informations {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container_logo {
        margin-top: 30px;
        margin-bottom: 31px;
        .logo_footer_mob {
            display: flex;
        }
        .logo_footer_desk {
            display: none;
        }
    }
    .container_about {
        text-align: center;
        margin-bottom: 20px;
        max-width: 392px;
    }
    p {
        color: #858383;
        font-size: 14px;
        line-height: 16px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }
    .container_quality {
        text-align: center;
        max-width: 392px;
    }
    .container_services_suport {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container_services {
        text-align: center;
        margin-top: 38px;
        max-width: 186px;
    }
    h2 {
        font-family: "Inter", sans-serif;
        color: #828282;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;
    }
    ul {
        padding: 0;
        li {
            list-style: none;
            font-family: "Inter", sans-serif;
            color: #828282;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 15px;
        }
        li:hover {
            color: #ff9800;
            cursor: pointer;
        }
    }
    .container_suport {
        margin-top: 32px;
        max-width: 186px;
    }
    .container_copy_terms {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-top: 1px solid #c0bfca;
        padding-top: 32px;
        margin-top: 32px;
    }
    .container_copy {
        width: 98%;
        margin-bottom: 32px;
    }
    .container_terms {
        margin-bottom: 28px;
        p:hover {
            cursor: pointer;
            color: #ff9800;
        }
    }

    @media screen and (min-width: 800px) {
        .container_footer_top {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
        .container_informations {
            align-items: normal;
        }
        .container_logo {
            .logo_footer_mob {
                display: none;
            }
            .logo_footer_desk {
                display: flex;
                cursor: pointer;
            }
        }
        .container_services_suport {
            display: flex;
            flex-direction: row;
            width: 400px;
            justify-content: space-around;
        }
        .container_about {
            text-align: left;
        }
        .container_quality {
            text-align: left;
        }
        h2 {
            text-align: left;
        }
        ul {
            text-align: left;
        }

        .container_copy_terms {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .container_copy {
            width: 55%;
            text-align: left;
        }
    }
    @media screen and (min-width: 1100px) {
        .container_services_suport {
            width: 430px;
            justify-content: space-between;
        }
    }
}
